################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Protocol/v15/Server/sqlite3/db.lock
/.vs/Protocol/v15/Server/sqlite3
